@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* Page formatting only */
body {
  background: #efefef;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: auto;
  padding-top: 40px;
  background: #fff;
}

h1 {
  font-weight: 300;
  margin-top: 0;
  font-size: 1.6em;
}

.col-group {
  padding: 40px;
}

/* Begin actual input formatting*/
input::-ms-clear {
  display: none;
}

.input-desc {
  display: block;
  padding: 10px 0 0 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
.input-desc.req:after {
  content: " *";
  font-size: 1.3em;
  font-weight: 700;
  color: #a71930;
}
.input-desc:not(.req):after {
  content: "";
  font-size: 1.3em;
}

.button {
  position: relative;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 2px;
  padding: 10px 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border: 1px solid #cccccc;
  background: #fff;
  overflow: hidden;
  transition: all 250ms ease;
}
.button:focus {
  outline: none !important;
  border-color: #adadad;
  background: rgba(0, 0, 0, 0.1);
}
.button:hover {
  outline: none !important;
  border-color: #adadad;
  background: rgba(0, 0, 0, 0.1);
}
.button:active {
  box-shadow: none;
  border-color: #adadad;
  background: rgba(0, 0, 0, 0.2) !important;
}
.button.right {
  padding: 10px 60px 10px 20px;
}
.button.right .glyphicon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 12px 10px 11px;
  height: 100%;
  border-left: 1px solid #cccccc;
  background: #fff;
  color: #000;
  transition: all 250ms ease;
}
.button.right:hover .glyphicon, .button.right:focus .glyphicon {
  color: #217e76;
}
.button.right:active .glyphicon {
  color: #a71930;
}
.button.left {
  padding: 10px 20px 10px 60px;
}
.button.left .glyphicon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 12px 10px 11px;
  height: 100%;
  border-right: 1px solid #cccccc;
  background: #fff;
  color: #000;
  transition: all 250ms ease;
}
.button.left:hover .glyphicon, .button.left:focus .glyphicon {
  color: #217e76;
}
.button.left:active .glyphicon {
  color: #a71930;
}

.control {
  font-size: 1.1em;
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding: 10px 10px 10px 40px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control .control--indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: #efefef;
  border-radius: 2px;
  transition: all 250ms ease;
}
.control .control--label {
  font-weight: 700;
}
.control .control--indicator:after {
  position: absolute;
  display: none;
  content: '';
}
.control .control--fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #cccccc;
  border-radius: 2px;
  transition: all 250ms ease;
}
.control input:checked ~ .control--indicator:after {
  display: block;
}
.control:hover input:not([disabled]) ~ .control--indicator {
  background: #cccccc;
}
.control:hover input:not([disabled]) ~ .control--indicator ~ .control--fill {
  box-shadow: inset 0 0 0 1px rgba(204, 204, 204, 0.5);
}
.control input:not([disabled]):focus ~ .control--indicator {
  background: #cccccc;
}
.control input:not([disabled]):focus ~ .control--indicator ~ .control--fill {
  box-shadow: inset 0 0 0 1px #a71930;
}
.control input:checked ~ .control--indicator {
  background: #a71930;
}
.control:hover input:not([disabled]):checked ~ .control--indicator,
.control input:checked:focus ~ .control--indicator {
  background: rgba(167, 25, 48, 0.7);
}
.control input:disabled ~ .control--indicator {
  pointer-events: none;
  background: #efefef;
}
.control input:disabled ~ .control--label {
  color: #cccccc;
}
.control input:disabled ~ .control--fill {
  cursor: not-allowed;
}
.control.control--radio .control--indicator {
  border-radius: 50%;
}
.control.control--radio .control--indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.control.control--radio input:disabled ~ .control--indicator:after {
  background: rgba(0, 0, 0, 0.3);
}
.control.control--checkbox .control--indicator:after {
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 3px 3px 0;
}
.control.control--checkbox input:disabled ~ .control--indicator:after {
  border-color: rgba(0, 0, 0, 0.3);
}

.text-data {
  font-size: 1.1em;
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.text-data input {
  padding: 10px;
  cursor: text;
  box-shadow: inset 0 0 0 1px #cccccc;
  border-radius: 2px;
  border: none;
  width: 100%;
  transition: all 250ms ease;
  appearance: none;
}
.text-data input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #a71930;
}
.text-data .tagsinput {
  box-shadow: inset 0 0 0 1px #cccccc;
  border-radius: 2px;
  width: 100%;
  padding: 4px;
  overflow-y: auto;
  transition: all 250ms ease;
}
.text-data .tagsinput.focus {
  box-shadow: inset 0 0 0 1px #a71930;
}
.text-data .tagsinput .tag {
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: block;
  float: left;
  padding: 5px 20px 5px 10px;
  margin: 3px;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff4e2;
}
.text-data .tagsinput .tag a {
  position: absolute;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 0;
  top: 1px;
  right: 5px;
  transition: all 250ms ease;
}
.text-data .tagsinput .tag a:after {
  content: "\00d7";
  font-size: 18px;
}
.text-data .tagsinput .tag a:hover {
  color: rgba(167, 25, 48, 0.8);
}
.text-data .tagsinput .tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.text-data .tagsinput input {
  min-width: 100%;
  margin: 3px;
  box-shadow: none;
  padding: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.text-data .tagsinput input:focus {
  outline: none;
  box-shadow: none;
}
.text-data .tagsinput input.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}
.text-data .tagsinput div {
  display: flex;
  min-width: 8em;
}

.help {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(204, 204, 204, 0.75);
  right: 10px;
  top: 10px;
  font-size: 0.8em;
  font-weight: 700;
  border: 2px solid #efefef;
  border-radius: 50%;
  color: #fff;
  line-height: 1.26em;
  text-indent: 0.42em;
  transition: all 250ms ease;
  transform: scale(0.9);
  cursor: help;
}
.help:hover {
  background: #cccccc;
  border: 2px solid #cccccc;
}
.help:hover ~ .help--tooltip {
  visibility: visible;
  opacity: 1;
}
.help:after {
  content: "?";
}

.help--tooltip {
  position: absolute;
  height: auto;
  width: 100%;
  padding: 12px;
  top: 45px;
  left: 0;
  font-size: 0.8em;
  font-weight: 300;
  border-radius: 2px;
  border: 1px solid #cccccc;
  background: #fff4e2;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease;
  transition-delay: 200ms;
}
.help--tooltip:hover {
  visibility: visible;
  opacity: 1;
}
.help--tooltip:after, .help--tooltip:before {
  bottom: 100%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.help--tooltip:after {
  border-bottom-color: #fff4e2;
  border-width: 9px;
  right: 11px;
}
.help--tooltip:before {
  border-bottom-color: #cccccc;
  border-width: 10px;
  right: 10px;
}
.help--tooltip img {
  max-width: 100%;
}

.stepsprogress {
  position: relative;
  width: 100%;
}
.stepsprogress .stepsprogress-row {
  display: flex;
  justify-content: space-between;
}
.stepsprogress .stepsprogress-row:before {
  position: absolute;
  content: "";
  top: 14px;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.stepsprogress .stepsprogress-step {
  position: relative;
  text-align: center;
  padding: 0 10px;
}
.stepsprogress .stepsprogress-step p {
  margin-top: 10px;
  font-weight: 700;
}
.stepsprogress .btn-circle {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border-radius: 50%;
  margin-top: -11px;
  box-shadow: inset 0 0 0 2px #cccccc;
  background-color: #fff;
  color: #cccccc;
  border: 2px solid #fff;
  transition: all 250ms ease;
}
.stepsprogress .btn-circle:hover {
  background-color: #efefef;
}
.stepsprogress .btn-circle.current {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #217e76;
  color: #fff;
  border: 2px solid transparent;
}
.stepsprogress .btn-circle span {
  position: relative;
  display: block;
  margin-top: 6px;
}
